@use "../utilities" as *;

/**----------------------------------------
START: Blog CSS
----------------------------------------*/

.post-card-wrap{
    &:not(:last-of-type){
        margin-bottom: 30px;
    }
}

.post-card {
    background-color: var(--rr-color-bg-1);
    display: grid;
    align-items: center;
    grid-template-columns: 570px 1fr;
    grid-gap: 40px;
    padding: 30px;
    border: 1px solid var(--rr-color-border-1);
    @include transition(all 0.3s ease-in-out);
    @include breakpoint(lg){
        grid-template-columns: 470px 1fr;
    }
    @include breakpoint(md){
        grid-template-columns: 1fr;
    }
    @include breakpoint(sm){
        padding: 30px 20px;
    }
    .post-thumb {
        position: relative;
        height: 240px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.3s ease-in-out;
            transform: scale(1);
        }
    }
    .post-content {
        .title {
            font-size: 24px;
            font-weight: 600;
            line-height: 1.5;
            margin-bottom: 30px;
            text-transform: capitalize;
            @include breakpoint(sm){
                font-size: 18px;
            }
            a {
                background: linear-gradient(var(--rr-color-theme-primary) 0%, var(--rr-color-theme-primary) 98%);
                background-size: 0 2px;
                background-repeat: no-repeat;
                background-position: left 100%;
                @include transition(all 0.3s ease-in-out);
                &:hover {
                    color: var(--rr-color-common-white);
                    background-size: 100% 2px;
                }
            }
        }
        .rr-primary-btn{
            background-color: transparent;
            border: 1px solid var(--rr-color-border-1);
            padding: 14.5px 30px;
            &:before{
                background-color: var(--rr-color-theme-primary);
            }
        }
    }
    &:hover{
        border: 1px solid var(--rr-color-theme-primary);
        .post-thumb{
            img{
                transform: scale(1.02);
            }
        }
    }
}


.post-meta {
    @include flex-vertical-center;
    list-style: none;
    flex-wrap: wrap;
    row-gap: 10px;
    margin-bottom: 20px;
    li {
        font-family: var(--rr-ff-body);
        color: #B0B2B7;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        @include flex-vertical-center;
        column-gap: 10px;
        i{
            font-size: 14px;
        }
        &:not(:last-of-type){
            margin-right: 20px;
        }
        a {
            &:hover {
                color: var(--rr-color-theme-primary);
            }
        }
        @include breakpoint(sm){
            font-size: 12px;
        }
    }
}

.post-content-wrap {
    .post-meta {
        @include flex-vertical-center;
        list-style: none;
        flex-wrap: wrap;
        row-gap: 10px;
        margin-bottom: 20px;
        li {
            font-family: var(--rr-ff-body);
            color: #B0B2B7;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            @include flex-vertical-center;
            column-gap: 10px;
            i{
                font-size: 14px;
            }
            &:not(:last-of-type){
                margin-right: 20px;
            }
            a {
                &:hover {
                    color: var(--rr-color-theme-primary);
                }
            }
            @include breakpoint(sm){
                font-size: 12px;
            }
        }
    }
}
.post-content {
    .title {
        font-size: 24px;
        font-weight: 600;
        line-height: 1.5;
        margin-bottom: 30px;
        text-transform: capitalize;
        @include breakpoint(sm){
            font-size: 18px;
        }
        a {
            background: linear-gradient(var(--rr-color-theme-primary) 0%, var(--rr-color-theme-primary) 98%);
            background-size: 0 2px;
            background-repeat: no-repeat;
            background-position: left 100%;
            @include transition(all 0.3s ease-in-out);
            &:hover {
                color: var(--rr-color-common-white);
                background-size: 100% 2px;
            }
        }
    }
    .blog-btn{
        background-color: transparent;
        border: 1px solid var(--rr-color-border-1);
        padding: 14.5px 30px;
        &:before{
            background-color: var(--rr-color-theme-primary);
        }
    }
}

.post-card-2{
    position: relative;
    z-index: 1;
    .post-thumb{
        position: relative;
        z-index: 1; 
        @include breakpoint(md){
            height: 420px;
            img{
                height: 100%;
                object-fit: cover;
                transform: scale(1);
            }
        }
        img{
            @include transition(all 0.3s ease-in-out);
        }
        &:before{
            background: linear-gradient(180deg, rgba(2, 5, 10, 0) 0%, rgba(29, 37, 81, 0.95) 51.08%);
            mix-blend-mode: multiply;
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            @include transition(all 0.3s ease-in-out);
            z-index: 1;
        }
        &:after{
            background: linear-gradient(180deg, rgba(14, 32, 147, 0.7) 0%, #3F5AF3 88.88%);
            mix-blend-mode: multiply;
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            @include transition(all 0.3s ease-in-out);
            visibility: hidden;
            opacity: 0;
        }
    }
    .post-content-wrap{
        position: absolute;
        bottom: 60px;
        left: 60px;
        z-index: 2;
        padding-right: 50px;
        @include breakpoint(md){
            left: 30px;
            bottom: 30px;
            padding-right: 30px;
        }
        @include breakpoint(sm){
            left: 20px;
            bottom: 20px;
            padding-right: 20px;
        }
        .post-content{
            .post-meta{
                li{
                    color: var(--rr-color-common-white)
                }
            }
            .title{
                a{
                    background: linear-gradient(var(--rr-color-common-white) 0%, var(--rr-color-common-white) 98%);
                    background-size: 0 2px;
                    background-repeat: no-repeat;
                    background-position: left 100%;
                    @include transition(all 0.3s ease-in-out);
                    &:hover {
                        color: var(--rr-color-common-white);
                        background-size: 100% 2px;
                    }
                }
            }
            .rr-primary-btn{
                padding: 14.5px 30px;
            }
        }
    }
    &:hover{
        .post-thumb{
            &:before{
                visibility: hidden;
                opacity: 0;
            }
            &:after{
                visibility: visible;
                opacity: 1;
            }
        }
    }
    &.card-3{
        .post-content-wrap{
            position: inherit;
            top: 0;
            left: 0;
            padding: 0;
            .post-content{
                .post-meta{
                    li{
                        color: var(--rr-color-text-body);
                    }
                }
                .title{
                    a{
                        background: linear-gradient(var(--rr-color-theme-primary) 0%, var(--rr-color-theme-primary) 98%);
                        background-size: 0 2px;
                        background-repeat: no-repeat;
                        background-position: left 100%;
                        @include transition(all 0.3s ease-in-out);
                        &:hover {
                            color: var(--rr-color-theme-primary);
                            background-size: 100% 2px;
                        }
                    }
                }
            }
        }
        .post-thumb{
            height: 350px;
            width: 100%;
            margin-bottom: 40px;
            overflow: hidden;
            &:after,
            &:before{
                display: none;
            }
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        &:hover{
            .post-thumb{
                img{
                    transform: scale(1.02)
                }
            }
        }
    }
    &.inner-blog{
        .post-thumb{
            height: 500px;
            @include breakpoint(md){
                height: 350px;
            }
            @include breakpoint(sm){
                height: 300px;
            }
        }
        .post-content{
            .title{
                font-size: 30px;
                margin-bottom: 20px;
                @include breakpoint(sm){
                    font-size: 24px;
                }
            }
            p{
                max-width: 850px;
                width: 100%;
                margin-bottom: 35px;
            }
            .rr-primary-btn{
                background-color: transparent;
                border: 1px solid var(--rr-color-border-1);
                &:before{
                    background-color: var(--rr-color-theme-primary);
                }
                &:hover{
                    border: 1px solid var(--rr-color-theme-primary);
                }
            }
        }
        &:not(:last-of-type){
            margin-bottom: 55px;
        }
    }
    &.inner-blog-2{
        display: grid;
        align-items: center;
        grid-template-columns: 620px 1fr;
        grid-gap: 40px;
        @include breakpoint(lg){
            grid-template-columns: 420px 1fr;
        }
        @include breakpoint(md){
            grid-template-columns: 1fr;
        }
        &:not(:last-of-type){
            margin-bottom: 40px;
            padding-bottom: 40px;
            border-bottom: 1px solid var(--rr-color-border-1);
        }
        .post-thumb{
            height: 380px;
            width: 100%;
            margin-bottom: 0;
            img{
                width: 100%;
                height: 100%;
                object-fit: top;
            }
        }
        .post-content{
            margin-top: 0;
            .title{
                font-size: 36px;
                margin-bottom: 20px;
                @include breakpoint(md){
                    font-size: 28px;
                }
                @include breakpoint(sm){
                    font-size: 24px;
                }
            }
            p{
                margin-bottom: 25px;
            }
            .rr-primary-btn{
                background-color: transparent;
                border: 1px solid var(--rr-color-border-1);
                &:before{
                    background-color: var(--rr-color-theme-primary);
                }
                &:hover{
                    border: 1px solid var(--rr-color-theme-primary);
                }
            }
        }
    }
}


// Blog 3

.blog-section-3{
    position: relative;
    z-index: 1;
    .shapes{
        .shape{
            position: absolute;
            &.shape-1{
                top: 3%;
                left: 6%;
            }
            &.shape-2{
                bottom: 20%;
                right: 0px;
            }
        }
    }
}

.grid-post-wrap{
    padding-right: 31px;
    border-right: 1px solid var(--rr-color-border-1);
    @include breakpoint(md){
        padding-right: 0;
        border: none;
        margin-bottom: 50px;
    }
}

.pagination-wrap{
    @include flex-vertical-center;
    list-style: none;
    column-gap: 10px;
    li{
        a{
            background-color: transparent;
            color: var(--rr-color-common-white);
            font-weight: 700;
            height: 50px;
            width: 50px;
            font-size: 20px;
            @include flex-center;
            line-height: 1;
            border: 1px solid var(--rr-color-border-1);
            &:hover{
                background-color: var(--rr-color-theme-primary);
                color: var(--rr-color-common-white);
                border: 1px solid var(--rr-color-theme-primary);
            }
        }
        .active{
            background-color: var(--rr-color-theme-primary);
            color: var(--rr-color-common-white);
            border: 1px solid var(--rr-color-theme-primary);
        }
    }  
}


/* !END: Theme Blog CSS */
