@use "../utilities" as *;

/**----------------------------------------
START: Counter CSS
----------------------------------------*/
.counter-item{
    @include flex-vertical-center;
    @include breakpoint(sm){
        justify-content: center;
    }
    .title{
        color: var(--rr-color-theme-primary);
        font-size: 120px;
        font-weight: 700;
        margin-bottom: 0;
        line-height: 1;
        @include breakpoint(lg){
            font-size: 66px;
        }
        @include breakpoint(md){
            font-size: 70px;
        }
        @include breakpoint(sm){
            font-size: 65px;
        }
        @include flex-vertical-center;
        .odometer-auto-theme{
            font-family: inherit;
            line-height: 1;
        }
        .odometer-digit-spacer{
            padding-right: 2px;
        }
    }
    p{
        font-size: 20px;
        color: var(--rr-color-common-white);
        margin-bottom: 0;
        margin-left: -20px;
        position: relative;
        z-index: 1;
        @include breakpoint(lg){
            font-size: 16px;
        }
        @include breakpoint(sm){
            font-size: 15px;
            line-height: 1.2;
            br{
                display: block;
            }
        }
    }
}

.counter-2{
    padding: 100px 0;
    @include breakpoint(md){
        padding: 40px 0;
    }
}

/* !END: Counter CSS */
